# ==========================
# Eclipse
# ==========================
.project
.classpath
.settings/

# ==========================
# Java
# ==========================
bin/
*.class


# Ignore generated documentation
doc/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp

# ==========================
# VS Code (if you open it there)
# ==========================
.vscode/

# ==========================
# IntelliJ IDEA (if used later)
# ==========================
.idea/
*.iml